body {
        background-color: #EDE6DB;
      }

hr {
    border-style: dotted none none;
    border-width: 2px;
    color: #417D7A;
    width: 100%;
    }


html {
    color: #1D5C63;
    }


h1 {
    color: red;
}

.bacon {
    background: red;
}

.broccoli {
    background: green;
}

#heading {
    color: blue;
}

.circle {
    border-radius : 100%;
}